POSTGRES_DB=telehealth
POSTGRES_USER=telehealth
POSTGRES_PASSWORD=telehealth
DB_URL=jdbc:postgresql://localhost:55432/telehealth
DB_USERNAME=telehealth
DB_PASSWORD=telehealth
AI_SERVICE_BASE_URL=http://localhost:8000
SERVER_PORT=8080
JWT_SECRET='6SWhkWvepSNvvATQMNLzlUvvaz7UAhyKLdhn+GL86kC2stFE1EDWMIpg9VOQt4V7'
